/* app/styles/result.module.css */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.scoreContainer {
  margin-bottom: 30px;
}

.scoreTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.score {
  font-size: 36px;
  font-weight: bold;
  color: #4caf50;
}

.quizTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.quizItem {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.quizEnglish {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.quizKorean {
  flex-grow: 1;
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
  word-break: keep-all;
}

.quizAnswer {
  font-size: 16px;
  color: #f44336;
}

.quizNumber {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.quizIndex {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.buttonContainer {
  display: flex;
  gap: 15px;
}

.buttonContainer button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #5f80b6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .quizKorean,
  .quizAnswer {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .scoreContainer {
    margin-bottom: 10px;
  }

  .scoreTitle {
    margin-bottom: 0;
  }

  .quizKorean,
  .quizAnswer {
    font-size: 14px;
  }

  .quizIndex {
    font-size: 13px;
  }
}
